@model OnlineQuizzes.ViewModels.FInBlankQuestionWithMCQGrade
@{
    ViewBag.Title = "CorrectQuiz";
}
<br />
<div class="panel panel-default">
    <div class="panel-body">
        Grade Without The Fill In The Blank Questions is : @Model.GradeWithoutFillInBlankQuestion
    </div>
</div>

@using (Html.BeginForm("Check", "Trainers", new { GradeWithoutFill = Model.GradeWithoutFillInBlankQuestion }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.student_Grade.AttemptID)*@

    @{ var i = 0;}
    @foreach (var FINBQ in Model.fillInBlanks) {

        for (i=0; i < Model.fillInBlanks.Count(); i++)
        {
         
        i++;
        <div class="form-group">
            <label style="display:none">@Html.DisplayFor(modelItem => Model.IDGrade[i].QuestionID)</label>
            @Html.EditorFor(model => Model.IDGrade[i].QuestionID, new { htmlAttributes = new { @class = "form-control", @Value = FINBQ.quizFillIBAnswer.QuestionID, @readonly = true , @style="display:none"} })

            <label style="color:red">@FINBQ.question.QuestionText (@FINBQ.question.GradeOfQuestion)</label>
            @Html.EditorFor(model => FINBQ.quizFillIBAnswer.Answer, new { htmlAttributes = new { @class = "form-control", @Value = @FINBQ.quizFillIBAnswer.Answer, @readonly = true } })

            <label style="color:red">@Html.DisplayFor(model => Model.IDGrade[i].QuestionGrade)</label>
            @Html.EditorFor(model => Model.IDGrade[i].QuestionGrade, new { htmlAttributes = new { @class = "form-control", @type = "range", @min = "0", @max = @FINBQ.question.GradeOfQuestion } })
        </div>

   }
        
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<script>
    window.onpopstate = function () {
        alert("Dont Press Back .. !");
    }; history.pushState({}, '');
</script>


