@model OnlineQuizzes.ViewModels.QuestionsWithQuizID

@{
    ViewBag.Title = "QuizDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quiz Details</h2>
<div class="container body-content">
    @Html.Partial("_Notifications")</div>

<p>
    @Html.ActionLink("Add New Question", "AddQuestionToListPage", new { QuizID = Model.quizID }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question.QuestionType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question.GradeOfQuestion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.questions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeOfQuestion)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditQuestion", new { id = item.QuestionID, QuizID = Model.quizID }) |
                @Html.ActionLink("Details", "QuestionDetails", new { id = item.QuestionID, QuizID = Model.quizID }) |
                @Html.ActionLink("Delete", "DeleteQuestion", new { id = item.QuestionID , QuizID = Model.quizID })
            </td>
        </tr>
    }

</table>
