@model OnlineQuizzes.ViewModels.QuizPermissionViewModel

@{
    ViewBag.Title = "QuizStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuizStudents</h2>
<br />
<div class="container body-content">
    @Html.Partial("_Notifications")
</div>

<p>
    @Html.ActionLink("Add New Student", "NewPermission", new { QuizID = Model.QuizId}, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.QuizPermissions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteStudentPermission", new { StudentId = item.Student.Id, QuizID = Model.QuizId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back To Quizzes", "ListOfMyQuizzes", "Trainers")
</div>
