@model OnlineQuizzes.ViewModels.QuestionsWithQuizID

@{
    ViewBag.Title = "AddQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container body-content">
    @Html.Partial("_Notifications")
</div>
<p>

<p>
    @Html.ActionLink("Add a New Question", "AddQuestionPage", "Questions", new { QuizID = Model.quizID }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question.QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question.GradeOfQuestion)
        </th>
    </tr>

    @foreach (var item in Model.questions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeOfQuestion)
            </td>
        </tr>
    }
</table>




